# Byte-compiled / optimized
__pycache__/
*.py[cod]

# virtualenv
/.venv
/venv
/.*-venv

# pytest
.pytest_cache

# pytest-cov
/coverage.xml

# mypy
.mypy_cache

# ruff
.ruff_cache

# Distribution / packaging
/dist
